<!-- FILEPATH: /home/madhu/BusBooking/views/admin.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
   
    <link href="css/style.css" rel="stylesheet">
    <style>
      .bus-btn {
          color: white;
          text-decoration: none;
          background-color: rgb(0, 102, 255);
      }
  
      .bus-btn:hover {
background-color: rgb(0, 87, 168);
}
  </style>
  
    <title>User</title>
</head>

<body>
    <nav class="navbar bg-body-tertiary fixed-top py-3">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- <form class="d-flex mt-2" role="search">
            <input class="form-control me-4" type="search" placeholder="Search" aria-label="Search" >
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
          <button class="btn btn-outline-success">LogOut</button>
          
          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">User</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/user">Buses Schedule</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/user/trips">Your trips</a>
                </li>
                <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                  </ul>
                </li>
              </ul>
              
            </div>
          </div>
        </div>
      </nav>

     

 

      <div class="container my-5" style="border: 1px solid rgb(0, 102, 255);padding: 1%;border-radius: 10px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <div class="row w-100" >
          <!-- Your EJS template file (e.g., index.ejs) -->
          <form class="row">
            <div class="col-4">
              <label for="source" class="form-label" >Source :</label>
              <input type="text" class="form-control" id="source" name="source" placeholder="Enter source">
            </div>
      
            <div class="col-4">
              <label for="source" class="form-label" >Destination:</label>
              <input type="text" class="form-control" id="destination" name="destination" placeholder="Enter destination">
            </div>
      
            <div class="col-3">
              <label for="source" class="form-label" >Departure Date :</label>
              <input type="date" class="form-control" id="departureDate" name="departureDate" min="<%= new Date().toISOString().split('T')[0] %>">
            </div>
      
            <!-- Other form fields... -->
      
            <div class="col-1">
              <label for="departureDate" class="form-label" style="color: white;">D</label>

              <button type="submit" class="btn btn-primary">Search </button>
            </div>
          </form>
        </div>
      </div>
      

       <div class="container">
        <div class="bus-card ">
          <div class="bus-details">
            <div class="bus-title">Bus to Destination</div>
            <div class="bus-route">Route: Source to Destination</div>
            <div class="bus-time">Departure Time: 10:00 AM</div>
            <div class="bus-time">Fare : 1000 rupees</div>
            <div class="bus-available-days">Available Days: Monday, Wednesday, Friday</div>
          </div>
          <a href="/user/seating" class="bus-btn" >Book Now</a>
        </div>
      </div>
      
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>

</html>
